.bg-color{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color:#FF136F;
}

.buy-now-button{
    background-image: linear-gradient(to bottom,#FF589B 0%,#FF136F 100%);
    color: #fff;
    border-radius: 8px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
.container{
    margin-bottom: 100px;
}
.cat1,.cat2,.cat3{
    padding: 10px 30px;
    border-radius: 10px;
}
.cat1{
    background-color: orange;
}
.cat2{
    background-color: rgb(255, 0, 200);
}
.cat3{
    background-color: rgb(13, 0, 162);
}
.caragory h1{
    color: #fff;
}
.caragory img{
    width: 100px;
}
.card{
    border: none;
    box-shadow:5px 5px 10px lightgray;
}
.card-footer{
    border-top: none;
    background-color: #fff;
}
#Subscribe{
    height: 300px;
}
#Subscribe h6{
    color: gray;
}
footer{
    text-align: center;
    font-size: 12px;
}